.site-footer {
	padding: 4rem 0;
    margin-top: 0rem;
    letter-spacing: 0.1rem;
    font-size: 0.8rem;
}
.socialIcon{
	width: 25px;
}
.mobileCTA{
	display: none;
}

@media only screen and (max-width: 800px) {
	.mobileCTA {
		display: inline;
		position:fixed;
		bottom: 0;
		z-index: 99999;
	}
}