.sticky {
	display: block;
}

.byline,
.updated:not(.published){
	display: none;
}

.single .byline,
.group-blog .byline {
	display: inline;
}

.post {
	margin-bottom: 4em;
	padding-bottom: 1em;
}

.post-thumbnail {
	margin-bottom: 1em;
}

.entry-meta,
.entry-footer {
  font-size: .75rem;
  margin: .75em 0 2em;

  .fa {
    color: $gray-600;
    margin-right: .3em;
  }
  span {
    margin: 0 1.5em .4em 0;
    display: inline-block;

    &:last-child {
      margin: 0;
    }

    a {
      text-decoration: none;
      color: $gray-600;

      &:hover {
        color: $gray-900;
      }
    }
  }
	.edit-link {
		.btn {
      		color: $white;

      	&:hover {
	        color: $white
	    }
	}
  }
}

/* Posts Navigation */
.nav-links {
	display: flex;
	justify-content: space-between;
}

/* Screenreaders */
.screen-reader-text {
	@include sr-only;
}

/* 404 page */
.error404 {
	.content-area {
		@include make-col-ready();
		@include make-col(12);	
	}
}

nav {
  font-size:0.8rem;
  font-family:'Gill Sans W01 Light';
  letter-spacing: 0.1rem;
  text-transform: uppercase;
}
.navfixed {
    position: fixed;
    top: 0;
    z-index: 1030; 
}
.mainLogo img
{
  width: 363px;
  max-width: 363px;
}

body
{
  font-family:'Avenir LT W01_35 Light1475496';
  line-height: 1.8;
}
h1 {
  font-size: 3rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-family:'Gill Sans W01 Light';
  font-weight: 100;
  margin-bottom: 2rem;
}

@media only screen and (max-width: 800px) {
  .mainLogo img{
    width: 55vw;
    max-width: 320px;

  }
  h1 {
  font-size:1.5rem;
  }
  .gform_wrapper.two-column_wrapper ul.gform_fields.gform_column {
    clear: both;
    width: 100%;
  }
  .image-wrapperB {
    background-position: left;
  }
  .testimonial-body {
  font-size: 1.1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: #939598;
  height:auto; 
  }
}
